/* ---------- CSS RESET ---------- */

/* Box Sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove Default margin  */
body, h1, h2, p {
  margin: 0;
}

/* Body Default */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* line-height on Heading & Interactive Elements */
h1, h2, button {
  line-height: 1.1;
}

/* Balance text-wrap on Headings */
h1, h2 {
  text-wrap: balance;
}

/* Make img easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}

/* Inherit font for button Element */
button {
  font: inherit;
}

/* ---------- CSS VARIABLE ---------- */

:root {
  
  /* Primary Color  */
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral Color */
  --clr-white: hsla(0, 0%, 100%, 0.75);  /*txt*/
  --clr-very-light-gray: hsl(0, 0%, 95%); /*bg_h_btn*/

  /* Typography */
  --ff-lexend:  'Lexend Deca', sans-serif;
  --ff-b-s-display: 'Big Shoulders Display', cursive;
  --fs-text: .9375rem;
  --fs-heading: 1.8rem;
  --fw-400: 400;
  --fw-700: 700;
  
}

/* ---------- CHALLENGE STYLING ---------- */

body {
  font-family: var(--ff-lexend);
  font-size: var(--fs-text);
  font-weight: var(--fw-400);
  background: var(--clr-very-light-gray);
  color: var(--clr-white);
}

.btn {
  cursor: pointer;
  font-size: 0.75rem;
  background: var(--clr-very-light-gray);
  padding: .6em 1.9em;
  border: 2px solid var(--clr-very-light-gray);
  border-radius: 10rem;
}

.btn:focus,
.btn:hover {
  background: transparent;
  color: var(--clr-white);
  border: 2px solid var(--clr-very-light-gray);
}

.btn--orange {
  color: var(--clr-bright-orange);
}

.btn--cyan {
  color: var(--clr-dark-cyan);
}

.btn--dark-cyan {
  color: var(--clr-very-dark-cyan);
}

.icon {
  width: 3rem;
}

.component-wrapper {
  width: 90%;
  max-width: 22rem;
  margin: 1rem auto;
}

.component {
  padding: 3em;
}

.component__title {
  font-family: var(--ff-b-s-display);
  font-size: var(--fs-heading);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  color: var(--clr-very-light-gray);
  margin-block: 1.8rem;
}

.component__txt {
  width: 90%;
  margin-bottom: 1.3rem;
}

.component--one {
  background: var(--clr-bright-orange);
  border-radius: 8px 8px 0 0;
}

.component--two {
  background: var(--clr-dark-cyan);
}

.component--three {
  background: var(--clr-very-dark-cyan);
  border-radius: 0 0 8px 8px;
}

@media (min-width: 56rem) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .component-wrapper {
    width: 100%;
    max-width: 53rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .component {
    padding: 2em;
  }

  .component__title {
    margin-block: 1.6rem;
  }

  .component__txt {
    width: 95%;
    margin-bottom: 4rem;
  }

  .component--one {
    border-radius: 8px 0 0 8px;
  }

  .component--three {
    border-radius: 0 8px 8px 0;
  }
}
